<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des burger</title>
    </head>
    <body>
        <h1>Liste des burgers</h1>
        <ul>
        </ul>
    </body>
</html>



