<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des burgers</title>
    </head>
    <body>
        <h1>Liste des burgers</h1>
        <ul>
            {% for burger in burgers %}
                <li>{{ burger.nom }}</li>
            {% endfor %}
        </ul>
    </body>
</html>



